@import "tailwindcss";

/* cross-browser hide scrollbar for horizontal scroll containers */
.scrollbar-hide,
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

/* Webkit-based browsers (Chrome, Safari, Opera) */
.scrollbar-hide::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 50px;
  border: 2px solid #f1f1f1;
}

.line-clamp-custom {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes fadeSlide {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-toast {
  animation: fadeSlide 2s ease forwards;
}
